* {
	font-family: 'Quicksand', sans-serif;
}

body {
	width: 80%;
	margin: auto;
}

header {
	margin-top: 50px;
	border-bottom: solid 3px #7d97ad;
}

.logo {
	display: inline-block;
	width: 20%;
}
.logo img {
	max-width: 100px;
}
.header-text {
	display: inline-block;
	width: 79%;
	text-align: right;
	vertical-align: top;
	color: #2d3c49;
}
.title {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-size: 55px;
	font-weight: 300;
}
.subtitle {
	margin: 0;
	text-transform: uppercase;
	font-size: 20px;
}

.main-image {
	width: 100%;
	margin: 30px 0;
}
.main-image img {
	width: 100%;
}

.featured-work-title h3 {
	color: #7d97ad;
	font-size: 30px;
	margin: 0 0 20px 10px;
}

.featured-work-container {
	width: 100%;
}
.featured-work-container :nth-child(even) {
	margin: 0 2%;
}

.featured-work {
	display: inline-block;
	width: 32%;
	margin: 0;
	padding: 0;
}
.work-image img {
	width: 100%;
}

.work-text {
	text-align: center;
	color: #2d3c49;
}
.work-title {
	margin: 5px;
	font-size: 30px;
	text-transform: uppercase;
}
.work-link {
	text-decoration: none;
	color: inherit;
}
