/* General */

* {
	font-family: "Quicksand", sans-serif;
}

body {
	width: 80%;
	margin: auto;
}

/* Header */

header {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	padding-bottom: 30px;
	border-bottom: solid 3px #7d97ad;
}

.logo {
	width: 100px;
	max-width: 15%;
	min-width: 72px;
}

.logo .round-image {
	width: 100%;
	border-radius: 50%;
}

.header-text {
	margin-left: auto;
	text-align: right;
	vertical-align: top;
	color: #2d3c49;
}

.title {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: 300;
}

@media screen and (min-width: 730px) {
	.title {
		font-size: 55px;
	}
}

@media screen and (min-width: 620px) and (max-width: 729px) {
	.title {
		font-size: 45px;
	}
}

@media screen and (min-width: 520px) and (max-width: 619px) {
	.title {
		font-size: 35px;
	}
}

@media screen and (min-width: 390px) and (max-width: 519px) {
	.title {
		font-size: 25px;
	}
}

@media screen and (max-width: 389px) {
	.title {
		font-size: 20px;
	}

	.subtitle {
		font-size: 15px;
	}
}

.subtitle {
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
}

@media screen and (min-width: 390px) {
	.subtitle {
		font-size: 20px;
	}
}

/* Main */

main {
	margin-bottom: 50px;
}

.main-image {
	width: 100%;
	margin: 30px 0;
}

.main-image img {
	width: 100%;
}

.featured-work-title {
	font-family: "Oxygen", sans-serif;
	color: #7d97ad;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 4px;
	margin: 0 0 20px 10px;
}

.featured-work-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.featured-work {
		width: 32%;
		margin: 0;
		padding: 0;
	}

	.featured-work-container :nth-child(even) {
		margin: 0 2%;
	}
}

@media screen and (max-width: 1199px) {
	.featured-work {
		width: 100%;
		margin: 0 0 40px 0;
		padding: 0;
	}
}

.work-image img {
	width: 100%;
}

.work-text {
	text-align: center;
	color: #2d3c49;
}

.work-title {
	margin: 5px;
	font-size: 30px;
	text-transform: uppercase;
}

.work-link {
	font-size: 15px;
	text-decoration: none;
	color: inherit;

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.work-text p {
	margin: 0;
}
